:root {
    --white: rgb(254, 254, 255);
    --richBlack: rgb(0, 16, 17);
    --steelBlue: rgb(62, 124, 177);
    --poppy: rgb(223, 41, 53);
}

body { 
    min-width: 570px; 
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: var(--white);
    color: var(--richBlack);
    font-weight: bold;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}

#message {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.button {
    padding: 10px 20px; 
    border: none;
    color: var(--white);
    background-color: var(--steelBlue);
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    border-radius: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: var(--poppy); 
}

.input {
    padding: 8px 15px;
    margin-right: 10px; 
    border: 1px solid #ddd;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dddddd;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

h4 {
    margin: 0;
    padding-top: 0px;
    font-size: 0.8rem;
    padding-left: 25px;
}

h4 a {
    color: var(--steelBlue);
    text-decoration: none;
}

h4 a:hover {
    color: var(--poppy);
    text-decoration: none;
}